footer{
    background: linear-gradient(rgb(255, 255, 
    255), 85%, grey);

    .contenedor-footer{
        margin-top: 40px;
        width: $widht-principal;
        @include flex (flex, space-evenly);
        font-family: 'Open Sans', sans-serif;
        h3{
            font-weight:600;
            font-size: 25px;
            margin-left: 30px;            
        }

        p{
            width: $widht-principal;
            max-width: 600px;
        }

        ul{
            list-style: none;
            li{
                a{
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }

    .redes-sociales{
        h3{
            color: aliceblue;
        }
    }

}
